.env
.env.*
!.env.example

__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.uv-cache/
.venv/
venv/
.deps/

runs/
outputs/
.docs/
resources
wandb/
tensorboard/
*.log
*.pt
*.pth
*.ckpt
*.onnx

dist/
build/
*.egg-info/
